AWC/stage/src/repo/search/src/assets/schema/aw-checkbox-with-reset.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-checkbox-with-reset" >
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="prop" type="declUI:string" use="required"/>
      <declUI:attribute name="reset-action" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
